@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bokor&family=Bungee+Spice&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bokor&family=Bungee+Spice&family=Playwrite+MX+Guides&family=Sevillana&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

:root{
    --mainOrange: yellow;
    --fontBlack:rgb(77,75,75);
    --heading: Berkshire-Swash, cursive,serif;
    --title: raleway,sans-serif;

}

header{
    background-color: plum;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
}

.logo{
    width: 200px;
    align-items: center;
}

header{
    background-color: plum;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
}
header .fa-bars, header .fa-xmark{
    color: white;
    font-size: 20px;

}

header .right {
    width: 50%;
}


header .right ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    
}

/* header .right ul li{
    font-size: 15px;
    color: black;
} */

header .right ul li:not(.org-btn, .active){
    color: var(--fontBlack);
    font-size: 15px;

}


.org-btn{
padding:15px 35px ;
background-color: chocolate;
border-radius: 30px;
color: white;
font-size: 15px;    
}

.org-btn:hover{
    background-color: red;
}
.active{
   color: var(maiOrange);
}

header .right ul li:hover{
    color:var(--mainOrange);
 }
@import url('http://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lobster',cursive;
}

.wrapper{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color:darkcyan; 
    /* background-image: url(../Website\ Images/aboutsec1.jpg); */
 }

.row{
    width: 100%;
    padding: 50px 100px;
}

.image-section{
    width: 30%;
    float: left;
    box-shadow: black;
 
}
.image-section img{
    width: 100%;
    height:auto;
    box-shadow: 20px 20px 20px black;
}

.content{
    width: 60%;
    float:left;
    margin-left: 50px;
}
.content h1{
    font-size: 90px;
    letter-spacing: 1.5px;
    margin-top: 25px;
    color: #222;
}
.content h2{
    font-size: 40px;
    font-family: sans-serif;
    color: red;
    margin-top: 25px;

}
.content p{
    font-size: 30px;
    font-family: serif;
    margin-top: 10px;
    line-height: 1.5;
}

footer{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../Website\ Images/footer.jpg');
    color: white;
    text-align: center;
    padding: 7% 0 3% 0;
    margin-top: 5%;
}

footer h1{
    font-family: var(--heading);
    font-size: 45px;
    font-weight: 50px;
    margin-bottom: 50px;
}
footer p{
    font-size: 15px;
    color: peachpuff;
} */
/* @import url('http://fonts.googleapis.com/css2?family=Lobster&display=swap'); */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
}

.wrapper{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color:darkcyan;
    /* background-image: url(../Website\ Images/aboutsec1.jpg); */
}
.row{
    width: 100%;
    padding: 50px 100px;
}

.image-section{
    width: 30%;
    float: left;
    box-shadow: black;
 
}
.image-section img{
    width: 100%;
    height:auto;
    box-shadow: 20px 20px 20px black;
}

.content{
    width: 60%;
    float:left;
    margin-left: 50px;
}
.content h1{
    font-size: 90px;
    letter-spacing: 1.5px;
    margin-top: 25px;
    color: #222;
}
.content h2{
    font-size: 40px;
    font-family: sans-serif;
    color: red;
    margin-top: 25px;

}
.content p{
    font-size: 30px;
    font-family: serif;
    margin-top: 10px;
    line-height: 1.5;
}

footer{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../Website\ Images/footer.jpg');
    color: white;
    text-align: center;
    padding: 7% 0 3% 0;
    margin-top: 5%;
}

footer h1{
    font-family: var(--heading);
    font-size: 45px;
    font-weight: 50px;
    margin-bottom: 50px;
}
footer p{
    font-size: 15px;
    color: peachpuff;
}

@media screen and(max-width:768px){
    
    
    .image-section{
        width: 100%;
        float: none;
    }
    .content{
        width: 100%;
        float: none;
        margin-left: 0px;
    }
    .content h1{
        font-size: 60px;
        letter-spacing: 2px;
        margin-top: 30px; 
    }
    .content h2{
        font-size: 30px;
    
    }
    .content p{
        font-size: 18px;
        width: 100%;   
    }
    


}

